<style>
.remove{
    background: #C76868;
    color: #FFF;
    font-weight: bold;
    font-size: 21px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;   
}

.ui-datepicker-calendar {
    display: none;
    }

	 p.ext {
    margin-left: 2cm;
}
     div.box {
		height: 400px;
		width: 800px;
		border: 1px  ;
		align: center;
		background: #fbf2b7;
		padding: 50px 0;
		 top: 20%;
  		bottom: 30%;
  		left: 15%;
  		right: 10%;
  		margin-left: 250px;
  		margin-right: 250px;
  		overflow-x: hidden;
  		overflow-y: scroll;
  		
		 
 
	}
	[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: yellow;
    margin-top: -50px;
    margin-left: 20px;    
}

#test{
    padding: 7px;
   
}


</style>

<div ng-controller="loginController" ng-init="init()">
	<div class="overall" >
		<nav class="navbar">

			<ul>
				<li><a ui-sref="home" ui-sref-opts="{reload:true}">
					<span class="icon fa fa-home"></span>Home</a>
					<span class="divider"></span>
				</li>
				<li ng-repeat="application in applications">
					<a ui-sref="app({appId: application.id})" ui-sref-opts="{reload:true}"	>{{application.appName}}</a>
					<span class="divider"></span>
				</li>
				
				<!-- <li><a   ui-sref="settings" ><span class="icon fa "></span>Admin Settings</a></li> -->

				<li ng-repeat="role in roles">
					<a  ng-if="role.roleName=='ROLE_ADMIN' " ui-sref="userSettings" >User Settings</a> 
					
				</li>
				<li><span  class="divider"></span></li>
				<li ng-repeat="role in roles">
					<a  ng-if="role.roleName=='ROLE_ADMIN' " ui-sref="applicationSettings" >Application Settings</a> 
					
				</li>
				<li><span  class="divider"></span></li>
			</ul>
		</nav>
	</div>
</div>

<div ng-controller="appSettingsController" ng-init="init()">

<div> <h1  style="font-size:22px; color:#960;">Application Configuration</h1></div></br>
<div class="col-xs-2 pull-right" ng-show="viewApplication">
	<button type="submit" class="btn btn-success" ng-click="addApplication=false">Add New Application</button>
	&nbsp
</div>	

<div class="bs-component">
<table class="table" id="parentId">
				<thead>
					<tr>
						<th ng-click="sort('userName')">Application Name
						 <!-- <span	class="glyphicon sort-icon"	ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span> -->
						</th>
						<!-- <th ng-click="sort('batchUploadCrDate')">Roles <span
							class="glyphicon sort-icon"
							ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th ng-click="sort('batchUploadStatus')">Applications <span
							class="glyphicon sort-icon"
							ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th> -->
						<th ng-click="sort('activeIndicator')"> Enable Status
						<!-- <span class="glyphicon sort-icon"  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span> -->
						</th>
						<th>Created By</th>
						<th>Updated By</th>
						<th></th>
						
						
					</tr>
				</thead>
				<tbody>
					<tr ng-class-odd="ClassOdd($index)"  ng-class-even="ClassEven($index)"
						ng-repeat="obj in allApplications"
						 >
						<td>{{obj.appName}}</td>
      					<td>{{obj.activeIndicator}}</td>  
      					<td>{{obj.createdBy}}</td>
      					<td>{{obj.updatedBy}}</td>
      					<td class="pull-middle">
   						 <button type="submit" class="btn btn-primary" ng-click = "viewAppDetails(obj.id,obj.appName)">view</button>
   						 <button type="submit" class="btn btn-success" ng-click = "updateAppDetails(obj.id,obj.appName)">Update</button>
			   			 <button type="submit" class="btn btn-failure" ng-click = "deleteAppDetails(obj.id,obj.appName)">Delete</button>
						</td>
					</tr>
				</tbody>
				
			</table>

</div>

<!-- -------View Application Details -->

<div ng-show="viewApplication" align="left"> <h1  style="font-size:22px; color:#960;">Application Folder Configuration for - {{appName}}</h1></div></br>

<div class="bs-component" ng-show="viewApplication">
<table class="table" id="">
				<thead>
					<tr>
						<th ng-click="sort('')">Folder Name
						 <!-- <span	class="glyphicon sort-icon"	ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span> -->
						</th>
						<!-- <th ng-click="sort('batchUploadCrDate')">Roles <span
							class="glyphicon sort-icon"
							ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th ng-click="sort('batchUploadStatus')">Applications <span
							class="glyphicon sort-icon"
							ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th> -->
						<th ng-click="sort('')"> File Name
						<!-- <span class="glyphicon sort-icon"  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span> -->
						</th>
						<th>File Type</th>
						<th>Destination File Path</th>
						<th>Archive Path</th>
						<th>Created By</th>
						<th>Updated By</th>					
						
					</tr>
				</thead>
				<tbody>
					<tr ng-class-odd="ClassOdd($index)"  ng-class-even="ClassEven($index)"
						ng-repeat="folderObj in appFolderDetails"
						 >
						<td>{{folderObj.folderCaption}}</td>
      					<td>{{folderObj.fileNamePrefix}}</td>  
      					<td>{{folderObj.validationType}}</td>
      					<td>{{folderObj.fileTrgtPath}}</td>
      					<td>{{folderObj.fileAckPath}}</td>
      					<td>{{folderObj.createdBy}}</td>
      					<td>{{folderObj.updatedBy}}</td>
      					
					</tr>
				</tbody>
				
			</table>
			
			<div id="tablenodata"	ng-show=" appFolderDetails =='null'||  appFolderDetails =='undefined' ||  appFolderDetails.length==0">
			<div>No Records Found.</div>

		</div>

</div>


<!-- -------Update Application Details -->

<div ng-show="updateApplication" align="left"> <h1  style="font-size:22px; color:#960;">Application Folder Configuration for - {{appName}}</h1></div></br>

<div class="bs-component" ng-show="updateApplication">
<table class="table" id="">
				<thead>
					<tr>
						<th ng-click="sort('')">Folder Name
						 <!-- <span	class="glyphicon sort-icon"	ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span> -->
						</th>
						<!-- <th ng-click="sort('batchUploadCrDate')">Roles <span
							class="glyphicon sort-icon"
							ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th ng-click="sort('batchUploadStatus')">Applications <span
							class="glyphicon sort-icon"
							ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th> -->
						<th ng-click="sort('')"> File Name
						<!-- <span class="glyphicon sort-icon"  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span> -->
						</th>
						<th>File Type</th>
						<th>Destination File Path</th>
						<th>Archive Path</th>
						<!-- <th>Created By</th>
						<th>Updated By</th> -->
						
						
						
					</tr>
				</thead>
				<tbody>
					<tr ng-class-odd="ClassOdd($index)"  ng-class-even="ClassEven($index)"
						ng-repeat="folderObj in appFolderDetails" >
						
						<td><input type="text" value="{{folderObj.folderCaption}}" ng-model="folderObj.folderCaption" /></td>
			            <td><input type="text" value="{{folderObj.fileNamePrefix}}" ng-model="folderObj.fileNamePrefix" /></td>
			            <td><input type="text" value="{{folderObj.validationType}}" ng-model="folderObj.validationType" /></td>
			            <td><input type="text" value="{{folderObj.fileTrgtPath}}" ng-model="folderObj.fileTrgtPath" /></td>
			            <td><input type="text" value="{{folderObj.fileAckPath}}"  ng-model="folderObj.fileAckPath"/></td>
			           <!--  <td><input type="text" value="{{folderObj.createdBy}}"  /></td> -->
			           
						
					</tr>
				</tbody>
				
			</table>
			
			<div id="tablenodata"	ng-show=" appFolderDetails =='null'||  appFolderDetails =='undefined' ||  appFolderDetails.length==0">
			<div>No Records Found.</div>

		</div>
		
		<div>&nbsp</div>
   		 <div class="pull-middle">
   			 <button type="submit" class="btn btn-primary" ng-click = "">Reset</button>
   			 <button type="submit" class="btn btn-info" ng-click = "addNewRow()">Add Row</button>
   			 <button type="submit" class="btn btn-success" ng-click = "updateConfig()">Submit</button>
		</div>

</div>

<!-- -------Add new Application------ -->
<div ng-hide="addApplication" ng-hide="updateApplication" align="left"> <h1  style="font-size:22px; color:#960;">Add New Application Folder Configuration</h1></div></br>
   <div class="box" ng-hide="addApplication">
   	<div class="main" id="addAppMapping"> 
		 <form class="form-horizontal" >
		 
		 <div class="form-group" >
				<div class="control-label col-sm-4" >Application Name</div>
				<div class="col-sm-5" align="left">
					<input  type="text" size="35" name="applicationName" id="applicationName" ng-model="applicationName"  />
				</div>
		</div>
		<div class="form-group" >
				<div class="control-label col-sm-4" >Target Path</div>
				<div class="col-sm-5" align="left">
					<input  type="text" size="35" name="targetPath" id="targetPath" ng-model="targetPath" placeholder="//10.13.44.89/Source/GETPAID/" />
				</div>
		</div>
		<div class="form-group" >
				<div class="control-label col-sm-4" >Archive Path</div>
				<div class="col-sm-5" align="left">
					<input  type="text" size="35" name="archivePath" id="archivePath" ng-model="archivePath" placeholder="//10.13.44.89/Source/GETPAID/Archive/" />
				</div>
		</div>
		<div class="form-group" >
				<div class="control-label col-sm-4" >File Type</div>
				<div class="col-sm-5" align="left">
					<select class="multiselect" data-placeholder="Select File Type" 
			     		 ng-model="selectedFileType" ng-options="fileType.type as fileType.type for fileType in fileTypeList"
			     		 multiple="multiple" multiselect-dropdown >
			 		</select>
				</div>
				
		</div>
		<div class="form-group" >
				<div class="control-label col-sm-4" >Folder Mapping</div>
				<div class="col-sm-5" >
					<table cellpadding="0" cellspacing="0">
			            <tr>
			                <th>Display Name</th>
			                <th>Destination File Name</th>
			                <th></th>
			            </tr>
			            <tbody ng-repeat="m in folderMapping">
			                <tr>
			                    <td><input type="text" value="{{m.folderName}}" readonly /></td>
			                    <td><input type="text" value="{{m.fileName}}" readonly /></td>
			                    <td><button class="remove"  ng-click="Remove($index)">-</button></td>
			                    <!-- <td><input type="button" ng-click="Remove($index)" value="Remove" /></td> -->
			                </tr>
			            </tbody>
			            <tfoot>
			                <tr>
			                    <td><input type="text" ng-model="folderName" /></td>
			                    <td><input type="text" ng-model="fileName" /></td>
			                    <td><input type="button" ng-click="Add()" value="Add" /></td>
			                </tr>
			            </tfoot>
		      		 </table>
				</div>	
		</div>
		<div>&nbsp</div>
   		 <div class="pull-middle">
   			 <button type="submit" class="btn btn-primary" ng-click = "Reset()">Reset</button>
   			 <button type="submit" class="btn btn-success" ng-click = "appConfig()">Submit</button>
		</div>
			    
   		 </form>
   		</div> 
   		</div>
   		
   	<div id="confirmation-dialog">
      <div class="modal fade confirmation-dialog" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{confirmationDialogConfig.title}}</h4>
            </div>
            <div class="modal-body">
              <div class="span5">{{confirmationDialogConfig.message +"  Application: "+confirmationDialogConfig.appName}}</div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" ng-repeat="button in confirmationDialogConfig.buttons" ng-click="confirmUserDelete(confirmationDialogConfig.id)" class="btn btn-primary">{{button.label}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

