<style>
/* table, th , td  {
  border: 2px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table  tr:nth-child(odd) {
  background-color: 	#778899;
}
table  tr:nth-child(even) {
  background-color: #ffffff;
}
 */
td {
    text-align: left;
}


</style>


<div  ng-controller="homeController" ng-init="init()">
	<div class="overall">
		<nav class="navbar">

			<ul>
				<li><a ui-sref="home" ui-sref-opts="{reload:true}"><span class="icon fa fa-home"></span>Home</a>
					<span class="divider"></span>
				</li>
				<li ng-repeat="application in applications">
				  <a id="{{application.appName}}" ng-click="batchHistoryDetails(application.id);"
					ng-model="application.id">{{application.appName}}</a>
				  <span	class="divider"></span>
				</li>

				<!-- <li><a   ui-sref="settings" ><span class="icon fa "></span>Admin Settings</a></li> -->

				<!-- <li><a  ng-if="isProfilePage && currentUser.roleType=='ROLE_ADMIN' " ui-sref="settings" ><span class="icon fa "></span>Settings</a></li>  -->
				<!-- <span class="divider"></span> -->
			</ul>

		</nav>
	</div>

	<div>&nbsp;</div>
	<div ng-hide="welcomeMsg">
		<!-- <h3>Welcome to CDR Application...</h3> -->
		<h3>Please select Application to get Batch History Details.</h3>
	</div>

	<div style="margin: 20px auto" ng-show="welcomeMsg">

		<div class="bs-component">
					<div class="col-xs-12">
					
			<div class="col-xs-4"><label for="search">Items per page</label> <input type="number"
					min="1" max="100" class="form-control" ng-model="pageSize"></div>
				<form  name='myform'>
					<div >	<div class="col-xs-4" ><label>Search</label>		<input type="text" ng-model="search"
						class="form-control" placeholder="Search"></div><div class="col-xs-2"><label for="reset">Reset</label> <input type="reset" class="form-control reset" ng-click="resetParent()" value="Clear"></div></div>
					
				</form>
				
			</div>
			<!-- <div class="mrt10"></div> -->
			<table class="table">
				<thead>
					<tr>
						<th ng-click="sort('batchId')">BatchId <span
							class="glyphicon sort-icon"
							ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th ng-click="sort('batchUploadCrDate')">Date Time <span
							class="glyphicon sort-icon"
							ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th ng-click="sort('batchUploadStatus')">Status <span
							class="glyphicon sort-icon"
							ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th ng-click="sort('batchUploadUserName')">LoginUser <span
							class="glyphicon sort-icon"
							ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th ng-click="sort('batchUploadMonth')">Month <span
							class="glyphicon sort-icon"
							ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
						</th>
						<th>Batch Details</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-click='batchFiles($index)'
                      ng-class-odd="ClassOdd($index)"  ng-class-even="ClassEven($index)"
						dir-paginate="obj in batchDetailsResult|orderBy:sortParent:reverse|filter:search|itemsPerPage: pageSize: 'original' "
						current-page="currentPage" pagination-id="original" >
						<td>{{obj.batchId}}</td>
						<td>{{obj.batchUploadCrDate| date : 'medium'}}</td>
						<td>{{obj.batchUploadStatus}}</td>
						<td>{{obj.batchUploadUserName}}</td>
						<td>{{obj.batchUploadMonth}}</td>
						<td>{{obj.batchId}}</td>
					</tr>
				</tbody>
			</table>
			<dir-pagination-controls max-size="10" direction-links="true"
				boundary-links="true" pagination-id="original">
			</dir-pagination-controls>
			<div id="tablenodata"
				ng-show=" batchDetailsResult =='null'||  batchDetailsResult =='undefined' ||  batchDetailsResult.length==0">
				<div>No Record Found.</div>

			</div>
		</div>


		<div class="form-group" id="upload">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary ng-binding" ng-click="doReverse()">Reverse</button>
				<button type="submit" class="btn btn-success" ng-click="doUpload()">Upload</button>
			</div>
		</div>
		<div class="col-sm-offset-2">
			<p ng-bind="reverseResult"></p>
		</div>
		<br>

		<div class="bs-component" ng-show="checkStatus">
		
		<div class="col-xs-4"><label for="search">Items per page</label> <input type="number"
					min="1" max="100" class="form-control" ng-model="pageSizetest"></div>
				<form  name='myformChild'>
					<div >	<div class="col-xs-4" ><label>Search</label>		<input type="text" ng-model="searchBatch"
						class="form-control" placeholder="Search"></div><div class="col-xs-2"><label for="reset">Reset</label> <input type="reset" class="form-control reset" ng-click="resetChild()" value="Clear"></div></div>
					
				</form>
				
			</div>
	
			<table class="table">
				<thead>
					<tr>
						<th ng-click="sortBatch('folderCaption')">Folder Name <span
							class="glyphicon sort-icon"
							ng-class="{'glyphicon-chevron-up':reverseBatch,'glyphicon-chevron-down':!reverseBatch}"></span>
						</th>
						<th ng-click="sortBatch('batchFileName')">File Name <span
							class="glyphicon sort-icon"
							ng-class="{'glyphicon-chevron-up':reverseBatch,'glyphicon-chevron-down':!reverseBatch}"></span>
						</th>
						<th ng-click="sortBatch('batchFileTrgtPath')">File Path <span
							class="glyphicon sort-icon"
							ng-class="{'glyphicon-chevron-up':reverseBatch,'glyphicon-chevron-down':!reverseBatch}"></span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr  ng-click='selectRecordRow($index)' ng-class-odd="ClassOddChild($index)"  ng-class-even="ClassEvenChild($index)"
						dir-paginate="obj1 in batchFileslist|orderBy:sortChild:reverseBatch|filter:searchBatch| itemsPerPage: pageSizetest: 'copy' "
						pagination-id="copy">
						<td>{{obj1.folderCaption}}
						<td>{{obj1.batchFileName}}</td>
						<td href="">{{obj1.batchFileTrgtPath}}</td>
					</tr>
				</tbody>
			</table>

			<dir-pagination-controls boundary-links="true" pagination-id="copy"></dir-pagination-controls>
			<div id="tablenodata"
				ng-show=" batchFileslist =='null'||  batchFileslist =='undefined' ||  batchFileslist.length==0">
				<div>No Record Found.</div>

			</div>

		</div>

	</div>



</div>



