<style>

.ui-datepicker-calendar {
    display: none;
    }

	 p.ext {
    margin-left: 2cm;
}
     div.box {
		height: 400px;
		width: 800px;
		border: 1px  ;
		align: center;
		background: #fbf2b7;
		padding: 50px 0;
		 top: 20%;
  		bottom: 30%;
  		left: 15%;
  		right: 10%;
  		margin-left: 250px;
  		margin-right: 250px;
  		overflow-x: hidden;
  		overflow-y: scroll;
  		
		 
 
	}
	[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: yellow;
    margin-top: -50px;
    margin-left: 20px;    
}

#test{
    padding: 7px;
   
}


</style>

<div ng-controller="loginController" ng-init="init()">
	<div class="overall" >
		<nav class="navbar">

			<ul>
				<li><a ui-sref="home" ui-sref-opts="{reload:true}"><span
						class="icon fa fa-home"></span>Home</a> <span class="divider"></span></li>
				<li ng-repeat="application in applications"><a ui-sref="app({appId: application.id})" ui-sref-opts="{reload:true}"	>{{application.appName}}</a> <span
					class="divider"></span></li>

				

				<li ng-repeat="role in roles">
					<a  ng-if="role.roleName=='ROLE_ADMIN' " ui-sref="settings" >Settings</a> 
					
				</li>
				<li><span  class="divider"></span></li>
				<!-- <li ng-repeat="role in roles">
					<a  ng-if="role.roleName=='ROLE_ADMIN' " ui-sref="settings" >Application Folder Settings</a> 
					
				</li>
				<li><span  class="divider"></span></li> -->
			</ul>

		</nav>
	</div>
</div>

<div ng-controller="settingsController" ng-init="init()">

<div> <h1  style="font-size:22px; color:#960;">Application Configuration</h1></div></br>
   <div class="box" >
   	<div class="main" >
		 <form class="form-horizontal" >
		 
		 <table  id="test" cellpadding="2"  bgcolor="99FFFF" style=" border: red 1px solid;;padding: 7px; width="40%" "  align="center" cellspacing="2">
		 <tr>
		 	<td align="right">User Id</td>
		 	<td> <input  type="text" name="userName" id="userName" ng-model="userName"  /></td>
		 </tr>
		 <tr>
		 	<td align="right">User Role</td>
		 	<td tooltip="ex:SSC.ABC@CMA-CGM.com" align="left">
				<select class="multiselect" data-placeholder="Select User Roles" 
			      ng-model="userRole" ng-options="role.id as role.roleName for role in allRoles"
			      multiple="multiple" multiselect-dropdown >
			 	</select>
			</td>
		 </tr>	
		 <tr>
		 	<td align="right">Application Name</td>
		 	<td align="left">
		 		<select class="multiselect" data-placeholder="Select Application"  
		          ng-model="selectedAppId" ng-options="app.id as app.appName for app in allApplications"
		          multiple="multiple" multiselect-dropdown >
			    </select>
			</td>
		</tr>	
		</table>    
		 		
		 <!-- <div tooltip="ex:SSC.ABC@CMA-CGM.com">
			 <label for="userName">User Id</label>
   			 <input  type="text" name="userName" id="userName" ng-model="userName"  />
   			 <span class="tooltiptext">(ex:SSC.ABC@CMA-CGM.com)</span>
   		 </div>
		 
		 <div >
			 <label for="userRole">User Role</label>
				 <select ng-model="userRole">
						<option ng-repeat="role in allRoles" value="{{role.id}}">{{role.roleName}}</option>
				</select>
			<select class="multiselect" data-placeholder="Select User Roles" 
			      ng-model="userRole" ng-options="role.id as role.roleName for role in allRoles"
			      multiple="multiple" multiselect-dropdown >
			  </select>
   			
   		 </div>
   		 
   		  <div >
			 <label for="appName">Application Name</label>
			 <select ng-model="selectedAppId">
				<option ng-repeat="x in allApplications" value="{{x.id}}">{{x.appName}}</option>
			</select>
			
			<select class="multiselect" data-placeholder="Select Application" 
		      ng-model="selectedAppId" ng-options="app.id as app.appName for app in allApplications"
		      multiple="multiple" multiselect-dropdown >
			 </select>
  
   			
   		 </div> -->
   		 
   		 


   		 
   		 <div>&nbsp</div>
   		 <div class="pull-middle">
   		 <button type="submit" class="btn btn-success" ng-click = "appConfig()">Submit</button>
			    </div>
   		 </form>
   		</div> 
   		</div>
</div>

