
<style>
/* #footer {
   					 position: absolute;
   					 top:300px;
  					 bottom: 30px;
   					 width: 100%;
				} */


.ui-datepicker-calendar {
    display: none;
    }
    
    div.box {
		height: 700px;
		width: 800px;
		border: 1px solid black;
		align: center;
		background: lightyellow;
		padding: 50px 0;
		 top: 20%;
  		bottom: 30%;
  		left: 10%;
  		right: 10%;
		 
 
	}

</style>

<script type="text/javascript">
$(function() {
    $('.date-picker').datepicker( {
        changeMonth: true,
        changeYear: true,
        showButtonPanel: false,
        dateFormat: 'MM yy',
        minDate: '-2M',
        maxDate: new Date(),
        onClose: function(dateText, inst) { 
        	$(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
        	
        }
    });
});

function myFunction() {
    var x = document.getElementById("startDate").value;
   alert(x);
}
</script>

	<div  ng-controller="uploadController" ng-init="appServerFolder()">
	
	<div class="overall">
	
		
       <nav class="navbar">
       		<ul > <li><a ui-sref="home" ><span class="icon fa fa-home"></span>Home</a></li>       			
       				
       				<!-- <li ng-repeat="application in applications">
       			 <a  id="{{application.appName}}"  ng-click="appServerFolder(application.id);" ng-model="application.id">{{application.appName}}</a><a  class="active" name="appName" id="getpaid" ng-model="appName" href="#" ng-click="appServerFolder($event)"><span class="icon fa fa-table"></span>GETPAID</a>       			
       				<span class="divider"></span>
       			</li> -->
       			</ul>
       </nav>
   </div>
   <div>&nbsp;</div>
   <div class="box">
   <div>
		 <label for="startDate">Month :</label>
   		 <input  name="startDate" id="startDate" class="date-picker" />
   		 
	</div>
	<div>&nbsp;</div>	
	<div class="main">
		 <form class="form-horizontal" >
			<div class="form-group" ng-repeat="obj in serverFoldersResult">
				<label class="control-label col-sm-3" for="uploadfile">{{obj.folderCaption}}</label>
				<div class="col-sm-5">
					<input type="file" accept="{{obj.validationType}}" id="file{{$index+1}}" name="file{{$index+1}}" onchange="angular.element(this).scope().setFile(this.files, angular.element(this).scope().$index+1)"  class="btn btn-warning" />

				</div>
			</div>
			<div class="form-group" id="upload"> 
			    <div class="col-sm-offset-5 col-sm-10">
			      <button type="submit" class="btn btn-default" ng-click = "doUploadFile()">Upload</button>
			    </div>
			</div>
		</form> 
	</div>	
		
		<div class="col-sm-offset-2">
			<p ng-bind="uploadResult"></p>
		</div>
	</div>
	</div>
