<!DOCTYPE html>
<html class="no-js" ng-app="cdrApp" class="ng-cloak">

    <head>

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>CDR Login</title>

        <!-- CSS -->
       
        <link rel="stylesheet" href="/resources/static/assets/bootstrap/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="/resources/static/assets/font-awesome/css/font-awesome.min.css"></link>
		<link rel="stylesheet" href="/resources/static/assets/css/form-elements.css"></link>
        <link rel="stylesheet" href="/resources/static/assets/css/style.css"></link>
	
      	<link rel="stylesheet" type="text/css" href="/resources/static/css/style-top.css" ></link>

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="/resources/static/assets/ico/favicon.png"></link>
        
        <style>
      		#footer{
    position:fixed;
    height:50px;
    background-color:none;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}

.bg {	
	background: url(../resources/static/assets/img/backgrounds/1.jpg) no-repeat 0 0;
    background-size: cover;
    background-position: center;
    /* position: absolute; */
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
    z-index: 0;
}
        </style>
    </head>

<body ng-class="isProfilePage==false?'bg':''" ng-cloak>

	<div  ng-include="'/header.html'" ng-show="isProfilePage" ></div>
	<div >
		<div  ui-view></div>
	</div>
<div class="footer">
	<div ng-include="'/footer.html'" ng-show="isProfilePage" ></div>
</div>


        <!-- Javascript -->
       
        	<script src="/resources/jquery/jquery-1.11.2.min.js"></script>	
	<script src="/resources/angular/angular.js"></script>
	<script src="/resources/angular/angular-route.js"></script>
	<script src="/resources/ui-router/angular-ui-router.js"></script>
	<script src="/resources/angular-toastr/angular-toastr.js"></script>

	 <script src="/resources/static/js/currentdate.js"></script>

        <script src="/resources/static/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/resources/static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/resources/static/assets/js/jquery.backstretch.min.js"></script>
    <!--     <script src="/resources/static/assets/js/scripts.js"></script> -->
         <script src="/resources/static/js/app.js"></script>  
	<script>
	$(function(){
	    $("#upload").hide();
	    $("#getpaid,#ocean,#cira").on("click", function(){
	        $("#upload").show();
	    });
	})
	</script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>